# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [2]:
# Import applicants_data.csv to Google Colab
from google.colab import files
uploaded = files.upload()

Saving applicants_data.csv to applicants_data (6).csv

In [3]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv("applicants_data.csv")

# Review the DataFrame
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [5]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN', 'NAME'])

# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [6]:
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [7]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [8]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [9]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)

# Review the DataFrame
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [10]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables = applicant_data_df.drop(columns = categorical_variables)

encoded_df = pd.concat(
    [
    numerical_variables,
    encoded_df
    ],
    axis=1
)
    
# Review the DataFrame
encoded_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [11]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
y.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [12]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X.head()

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [13]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [15]:
# Define the the number of inputs (features) to the model
number_input_features = len(X.columns)

# Review the number of features
number_input_features

116

In [16]:
# Define the number of neurons in the output layer
# number_output_neurons = len(y_train.unique())
number_output_neurons = 1

In [17]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [18]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [19]:
# Create the Sequential model instance
nn = Sequential()

In [20]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

In [21]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation='relu'))

In [22]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(number_output_neurons, activation='relu'))

In [23]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [24]:
# Compile the Sequential model
nn.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [25]:
# Fit the model using 50 epochs and the training data
nn.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 1.0424 - accuracy: 0.7004
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 1.1207 - accuracy: 0.7061
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 1.0228 - accuracy: 0.7152
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8304 - accuracy: 0.7253
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.8584 - accuracy: 0.7217
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7932 - accuracy: 0.7252
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7937 - accuracy: 0.7260
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.8480 - accuracy: 0.7224
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7690 - accuracy: 0.7263
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7599 - accuracy: 0.7236
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7535 - accuracy: 0.7279
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7747 - accuracy: 0.7209
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7365 - accuracy: 0.7248
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7585 - accuracy: 0.7238
Epoch 15/50
804/804 [==============================] - 1s 2ms/step - loss: 0.7523 - accuracy: 0.7276
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.7379 - accuracy: 0.7214
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6516 - accuracy: 0.7280
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6758 - accuracy: 0.7250
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6405 - accuracy: 0.7300
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6396 - accuracy: 0.7293
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6375 - accuracy: 0.7315
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6585 - accuracy: 0.7240
Epoch 23/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6552 - accuracy: 0.7308
Epoch 24/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6416 - accuracy: 0.7276
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6334 - accuracy: 0.7325
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6421 - accuracy: 0.7297
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6263 - accuracy: 0.7311
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6315 - accuracy: 0.7320
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6274 - accuracy: 0.7313
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6424 - accuracy: 0.7232
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6231 - accuracy: 0.7321
Epoch 32/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6219 - accuracy: 0.7313
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6177 - accuracy: 0.7329
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6135 - accuracy: 0.7278
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6194 - accuracy: 0.7273
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6188 - accuracy: 0.7303
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6106 - accuracy: 0.7335
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6100 - accuracy: 0.7325
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6053 - accuracy: 0.7329
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6061 - accuracy: 0.7346
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6129 - accuracy: 0.7301
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6282 - accuracy: 0.7204
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6300 - accuracy: 0.7220
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6152 - accuracy: 0.7296
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6108 - accuracy: 0.7347
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6082 - accuracy: 0.7338
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6059 - accuracy: 0.7337
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6107 - accuracy: 0.7315
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6051 - accuracy: 0.7332
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6031 - accuracy: 0.7346

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [26]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 [==============================] - 1s 2ms/step - loss: 0.6289 - accuracy: 0.7277
Loss: 0.6289443373680115, Accuracy: 0.7276967763900757

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [27]:
# Set the model's file path
file_path = "AlphabetSoup.h5"

# Export your model to a HDF5 file
nn.save(file_path)

# Download your model to your computer
files.download(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [28]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [29]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 1

In [30]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = 75

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

75

In [31]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A1 = 50

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A1

50

In [32]:
# Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A1 = 25

# Review the number of hidden nodes in the second layer
hidden_nodes_layer3_A1

25

In [33]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [34]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer2_A1, activation='relu'))

# Third hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer3_A1, activation='relu'))

# Output layer
nn_A1.add(Dense(number_output_neurons, activation='softmax'))

# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 75)                8775

 dense_4 (Dense)             (None, 50)                3800

 dense_5 (Dense)             (None, 25)                1275

 dense_6 (Dense)             (None, 1)                 26

=================================================================
Total params: 13,876
Trainable params: 13,876
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the Sequential model
nn_A1.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [36]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(
    X_train_scaled,
    y_train,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5692 - accuracy: 0.5335
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.5335
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.5335
Epoch 4/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.5335
Epoch 5/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.5335
Epoch 6/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5435 - accuracy: 0.5335
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.5335
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5423 - accuracy: 0.5335
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.5335
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.5335
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.5335
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.5335
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.5335
Epoch 14/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.5335
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.5335
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5379 - accuracy: 0.5335
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.5335
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.5335
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.5335
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.5335
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.5335
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.5335
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.5335
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.5335
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5352 - accuracy: 0.5335
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.5335
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.5335
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.5335
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5342 - accuracy: 0.5335
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5337 - accuracy: 0.5335
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.5335
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.5335
Epoch 33/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5330 - accuracy: 0.5335
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5331 - accuracy: 0.5335
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5327 - accuracy: 0.5335
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5324 - accuracy: 0.5335
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.5335
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5325 - accuracy: 0.5335
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.5335
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5321 - accuracy: 0.5335
Epoch 41/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5322 - accuracy: 0.5335
Epoch 42/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5312 - accuracy: 0.5335
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5314 - accuracy: 0.5335
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5313 - accuracy: 0.5335
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5310 - accuracy: 0.5335
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.5335
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5309 - accuracy: 0.5335
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.5335
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5308 - accuracy: 0.5335
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5309 - accuracy: 0.5335

#### Alternative Model 2

In [37]:
# Review Original DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [38]:
# Choose the categorical variables to evaluate
categorical_variables_A2 = [
    'AFFILIATION', 
    'USE_CASE',
    'ORGANIZATION',
    'INCOME_AMT'
    ]

# Display the categorical variables list
categorical_variables_A2

['AFFILIATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT']

In [39]:
# Create a OneHotEncoder instance
enc_A2 = OneHotEncoder(sparse=False)

In [40]:
# Encode the categorcal variables using OneHotEncoder
encoded_data_A2 = enc.fit_transform(applicant_data_df[categorical_variables_A2])

In [41]:
# Create a DataFrame with the encoded variables
encoded_df_A2 = pd.DataFrame(
    encoded_data_A2,
    columns = enc.get_feature_names_out(categorical_variables_A2)
)

# Review the DataFrame
encoded_df_A2.head()

,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,USE_CASE_Heathcare,USE_CASE_Other,USE_CASE_Preservation,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [42]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
numerical_variables_A2 = applicant_data_df.drop(columns = categorical_variables)

encoded_df_A2 = pd.concat(
    [
    numerical_variables_A2,
    encoded_df_A2
    ],
    axis=1
)
    
# Review the DataFrame
encoded_df_A2.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [43]:
# Define the target set y using the IS_SUCCESSFUL column
y_A2 = encoded_df_A2['IS_SUCCESSFUL']

# Display a sample of y
y_A2.head()

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [44]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X_A2 = encoded_df_A2.drop(columns='IS_SUCCESSFUL')

# Review the features DataFrame
X_A2.head()

,STATUS,ASK_AMT,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,AFFILIATION_Other,AFFILIATION_Regional,USE_CASE_CommunityServ,USE_CASE_Heathcare,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1,5000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,142590,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [45]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train_A2, X_test_A2, y_train_A2, y_test_A2 = train_test_split(X_A2, y_A2, random_state=1)

In [46]:
# Create a StandardScaler instance
scaler_A2 = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler_A2 = scaler_A2.fit(X_train_A2)

# Fit the scaler to the features training dataset
X_train_scaled_A2 = X_scaler_A2.transform(X_train_A2)
X_test_scaled_A2 = X_scaler_A2.transform(X_test_A2)

In [47]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_A2.columns)

# Review the number of features
number_input_features_A2

26

In [48]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [49]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features_A2 + 1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

13

In [50]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + 1) // 2

# Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

7

In [51]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [52]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features_A2, activation='sigmoid'))

# Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation='sigmoid'))

# Output layer
nn_A2.add(Dense(number_output_neurons_A2, activation='sigmoid'))

# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_7 (Dense)             (None, 13)                351

 dense_8 (Dense)             (None, 7)                 98

 dense_9 (Dense)             (None, 1)                 8

=================================================================
Total params: 457
Trainable params: 457
Non-trainable params: 0
_________________________________________________________________

In [53]:
# Compile the model
nn_A2.compile(
    loss='binary_crossentropy',
    optimizer='adam',
    metrics=['accuracy']
)

In [54]:
# Fit the model
fit_model_A2 = nn_A2.fit(
    X_train_scaled_A2,
    y_train_A2,
    epochs=50
)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6530 - accuracy: 0.6274
Epoch 2/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6124 - accuracy: 0.6872
Epoch 3/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6099 - accuracy: 0.6890
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6084 - accuracy: 0.6924
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6074 - accuracy: 0.6969
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6068 - accuracy: 0.6976
Epoch 7/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6064 - accuracy: 0.6981
Epoch 8/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6061 - accuracy: 0.6973
Epoch 9/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6056 - accuracy: 0.6978
Epoch 10/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6055 - accuracy: 0.6976
Epoch 11/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6052 - accuracy: 0.6984
Epoch 12/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6048 - accuracy: 0.6973
Epoch 13/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6043 - accuracy: 0.6981
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6037 - accuracy: 0.6975
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.6029 - accuracy: 0.6978
Epoch 16/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6020 - accuracy: 0.6978
Epoch 17/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6015 - accuracy: 0.6976
Epoch 18/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6009 - accuracy: 0.6978
Epoch 19/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6005 - accuracy: 0.6973
Epoch 20/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6003 - accuracy: 0.6975
Epoch 21/50
804/804 [==============================] - 1s 2ms/step - loss: 0.6000 - accuracy: 0.6971
Epoch 22/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5998 - accuracy: 0.6977
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5998 - accuracy: 0.6977
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5996 - accuracy: 0.6983
Epoch 25/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5996 - accuracy: 0.6974
Epoch 26/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5995 - accuracy: 0.6981
Epoch 27/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5995 - accuracy: 0.6980
Epoch 28/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5993 - accuracy: 0.6980
Epoch 29/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5992 - accuracy: 0.6980
Epoch 30/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5992 - accuracy: 0.6981
Epoch 31/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5991 - accuracy: 0.6988
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5989 - accuracy: 0.6984
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5990 - accuracy: 0.6985
Epoch 34/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5989 - accuracy: 0.6977
Epoch 35/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5988 - accuracy: 0.6989
Epoch 36/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5986 - accuracy: 0.6988
Epoch 37/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5985 - accuracy: 0.6985
Epoch 38/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5987 - accuracy: 0.6991
Epoch 39/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5986 - accuracy: 0.6987
Epoch 40/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5985 - accuracy: 0.6988
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5984 - accuracy: 0.6988
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5985 - accuracy: 0.6990
Epoch 43/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5983 - accuracy: 0.6990
Epoch 44/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5980 - accuracy: 0.6999
Epoch 45/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5983 - accuracy: 0.6992
Epoch 46/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5982 - accuracy: 0.7003
Epoch 47/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5981 - accuracy: 0.7005
Epoch 48/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5981 - accuracy: 0.7001
Epoch 49/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5980 - accuracy: 0.7004
Epoch 50/50
804/804 [==============================] - 1s 2ms/step - loss: 0.5979 - accuracy: 0.6998

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [55]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.6289 - accuracy: 0.7277 - 440ms/epoch - 2ms/step
Loss: 0.6289443373680115, Accuracy: 0.7276967763900757

In [56]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5580 - accuracy: 0.5292 - 484ms/epoch - 2ms/step
Loss: 0.5580395460128784, Accuracy: 0.5292128324508667

In [57]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled_A2, y_test_A2, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5977 - accuracy: 0.7011 - 394ms/epoch - 1ms/step
Loss: 0.5976747274398804, Accuracy: 0.7011078596115112

### Step 3: Save each of your alternative models as an HDF5 file.

In [58]:
# Set the file path for the first alternative model
file_path = "AlphabetSoup_A1.h5"

# Export your model to a HDF5 file
nn_A1.save(file_path)

# Download the model to your computer
files.download(file_path)

In [59]:
# Set the file path for the second alternative model
file_path = "AlphabetSoup_A2.h5"

# Export your model to a HDF5 file
nn_A2.save(file_path)

# Download the model to your computer
files.download(file_path)